# External Lab 

Here each question is of 1 mark.

# Multiple Linear Regression

## Problem Statement

Use Multiple Linear Regression to **predict the consumption of petrol** given relevant variables are the petrol tax, the per capita, income, the number of miles of paved highway, and the proportion of the population with driver's licenses.

## Dataset

There are 48 rows of data.  The data include:

      I,  the index;
      A1, the petrol tax;
      A2, the per capita income;
      A3, the number of miles of paved highway;
      A4, the proportion of drivers;
      B,  the consumption of petrol.

### Reference 

    Helmut Spaeth,
    Mathematical Algorithms for Linear Regression,
    Academic Press, 1991,
    ISBN 0-12-656460-4.

    S Weisberg,
    Applied Linear Regression,
    New York, 1980, pages 32-33.

## Question 1 - Exploratory Data Analysis

*Read the dataset given in file named **'petrol.csv'**. Check the statistical details of the dataset.*

**Hint:** You can use **df.describe()**

In [1]:
import pandas as pd

data = pd.read_csv("petrol.csv")

In [2]:
data.head()

   tax   income   highway     dl   consumption
0  9.0     3571      1976  0.525           541
1  9.0     4092      1250  0.572           524
2  9.0     3865      1586  0.580           561
3  7.5     4870      2351  0.529           414
4  8.0     4399       431  0.544           410

In [3]:
data.describe()

             tax       income       highway         dl   consumption
count  48.000000    48.000000     48.000000  48.000000     48.000000
mean    7.668333  4241.833333   5565.416667   0.570333    576.770833
std     0.950770   573.623768   3491.507166   0.055470    111.885816
min     5.000000  3063.000000    431.000000   0.451000    344.000000
25%     7.000000  3739.000000   3110.250000   0.529750    509.500000
50%     7.500000  4298.000000   4735.500000   0.564500    568.500000
75%     8.125000  4578.750000   7156.000000   0.595250    632.750000
max    10.000000  5342.000000  17782.000000   0.724000    968.000000

# Question 2 - Cap outliers 

Find the outliers and cap them. (Use (Q1 - 1.5 * IQR) as the minimum cap and (Q3 + 1.5 * IQR) as the max cap. The decision criteria is you should consider the datapoints which only falls within this range. The data points which fall outside this range are outliers and the entire row needs to be removed

In [4]:
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1

In [5]:
df = data[~((data < (Q1 - 1.5 * IQR)) |(data > (Q3 + 1.5 * IQR))).any(axis=1)]

In [6]:
df.head()

   tax   income   highway     dl   consumption
0  9.0     3571      1976  0.525           541
1  9.0     4092      1250  0.572           524
2  9.0     3865      1586  0.580           561
3  7.5     4870      2351  0.529           414
4  8.0     4399       431  0.544           410

# Question 3 - Independent variables and collinearity 
Which attributes seems to have stronger association with the dependent variable consumption?

In [7]:
df.corr()

                   tax    income   highway        dl   consumption
tax           1.000000 -0.109537 -0.390602 -0.314702     -0.446116
 income      -0.109537  1.000000  0.051169  0.150689     -0.347326
 highway     -0.390602  0.051169  1.000000 -0.016193      0.034309
 dl          -0.314702  0.150689 -0.016193  1.000000      0.611788
 consumption -0.446116 -0.347326  0.034309  0.611788      1.000000

### Observing the above correlation values between all the variables, we can see that there is stronger association between the number of drivers and consumption. And comparatively tax has an association in a negative way. 
Insights :
As tax increases the consumption decreases.
As number of drivers is more consumption is more

# Question 4 - Transform the dataset 
Divide the data into feature(X) and target(Y) sets.

In [50]:
X = df.loc[:, ['tax',' dl']]

In [51]:
Y = df.iloc[:, -1]

# Question 5 - Split data into train, test sets 
Divide the data into training and test sets with 80-20 split using scikit-learn. Print the shapes of training and test feature sets.

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = .20)

# Question 6 - Build Model 
Estimate the coefficients for each input feature. Construct and display a dataframe with coefficients and X.columns as columns

In [57]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()

lm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [60]:
lm.coef_

array([-35.39869375, 631.87140497])

# R-Square

# Question 7 - Evaluate the model 
Calculate the accuracy score for the above model.

In [59]:
pred = lm.predict(X_train)

lm.score(X_train, Y_train)

0.4138652082801588

# Question 8: Repeat the same Multi linear regression modelling by adding both Income and Highway features
Find R2

In [61]:
X = df.iloc[:, : -1]

In [62]:
Y = df.iloc[:, -1]

# Question 9: Print the coefficients of the multilinear regression model

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = .20)

from sklearn.linear_model import LinearRegression

lm = LinearRegression()

lm.fit(X_train, Y_train)
lm.score(X_train, Y_train)

0.66564299757116

# Question 10 
In one or two sentences give reasoning on R-Square on the basis of above findings
Answer

### *R squared value increase if we increase the number of independent variables to our analysis